---
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";

.site-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
@media screen and (min-width: 600px){
    .site-nav {
        padding: 10px 0;
    }
}
.member-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
}
.member-item p {
    font-size: 16px;
}
.member-item:hover {
    background-color: #eee;
}
.member-item {
    padding: 15px;
    display: flex;
}
.member-item>div:first-child {
    flex: 1;
    margin-right: 5px;
}
.member-item>div{
    flex: 2;
}
.member-image {
    max-height: 150px;
    max-width: 150px;
}
.member-skills-list {
    font-size: 16px;
}
.lang-link {
    color: #02488C;
    font-weight: 700;
}
.home-lang-grid {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
}
.main-home-logo {
    margin-top: 5rem;
}
.main-language {
    flex: 1 1 150px;
    text-align: center;
    padding: 1rem 0;
    margin: 10px;
    font-size: 30pt;
    border-style: solid;
    border-radius: 20px;
    border-color: darkgray;
    border-width: 2pt;
    background-color: #ddd;
}
