// Placeholder to allow overriding predefined variables smoothly.

$content-width:    1200px !default;

$on-palm:          600px !default;
$on-laptop:        1200px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;
$base-font-size:   18px;
